.vs/
OpenDoorController/OpenDoorController.Android/OpenDoorController.Android.csproj.user
OpenDoorController/OpenDoorController.Android/obj/
OpenDoorController/OpenDoorController.iOS/obj/
OpenDoorController/OpenDoorController/obj/
OpenDoorController/OpenDoorController.Android/bin/
OpenDoorController/OpenDoorController/bin/
